# --- Arduino ---
*.hex
*.elf
build/
.pio/
.vscode/

# --- Python / Thonny ---
__pycache__/
*.pyc
.venv/
venv/
*.log

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Simulador: archivos intermedios del armado ---
simulador/fuente/simcore.js
simulador/fuente/simcore_publico.js
